body {
    background-color: rgba(206, 205, 205, 0.781);
}
.container {
    width: 500px;
    align-content: center;
    margin: auto;
  }
/*
#flags {
    display: inline-block;
    border: 1px solid black;
    width: 120px;
    margin: auto;
    padding: 5px;
    float: left;
    font-size: 18px;
}
#timer {
    display: inline-block; 
    border: 1px solid black;
    width: 120px;
    margin: auto;
    padding: 5px;
    float: left;
    font-size: 18px;
}
#newGame {
    display: inline-block;
    border: 1px solid black;
    width: 120px;
    margin: auto;
    float: left;
    padding: 5px;
    font-size: 18px;
}*/
header {
    display: flex;
    margin: auto;
    width: 20%;
}
header > div {
    display: inline-block;
    border: 1px solid black;
    width: 120px;
    float: left;
    padding: 5px;
    font-size: 18px;
}
#newGame:hover {
    cursor: pointer;
    background-color: #4199d3;
}
.grid {
    height: 400px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: #dcd6bc;
    margin-left: 50px;
    margin-top: 20px;
    border: 10px solid #dcd6bc;
    margin-bottom: 10px;
}
  
div {
    font-size: 25px;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
  
}
.valid {
    height: 40px;
    width: 40px;
    border: 5px solid;
    border-color: #f5f3eb #bab7a9 #bab7a9 #fff9db;
    box-sizing: border-box;
}
  
.checked {
    height: 40px;
    width: 40px;
    border: 2px solid;
    background-color: #cecab7;
    border-color: #9c998d;
    box-sizing: border-box;
}
  
.bomb {
    height: 40px;
    width: 40px;
    border: 5px solid;
    border-color: #f5f3eb #bab7a9 #bab7a9 #fff9db;
    box-sizing: border-box;
}
  
.one {
    color: #e76346;
}
  
.two {
    color: #4199d3;
}
  
.three {
    color: #3ba83d;
}
  
.four{
    color: #bb41d3;
}

.five{
    color: #dd1b1bd8;
}
  
#result {
    margin-top: 5px;
    color: #e76346;
}